.hashtag-list {
  margin-top: 100px;
}

.hashtag:hover {
  transition: all ease .3s;
  color: #262732;
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  margin: 0;
  padding: 0;
}